// Tablets and Smaller
@media (max-width: 800px) {
  #header-home {
    height: 30rem;
    .header-content {
      padding-top: 5rem;
    }
  }
  #header-inner {
    height: 5rem;
    .current {
      border: none;
    }
  }

  #about {
    &-a {
      .about-info {
        grid-template-columns: 45rem;
        grid-template-areas:
          "roots"
          "ben"
          "flow"
          "vid"
          "infographic";
      }
    }
    &-c {
      display: none;
    }
  }

  #testimony {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    i {
      width: 30px;
      height: 30px;
    }
  }

  #success {
    &-a {
      .example1 {
        display: grid;
        grid-template-areas:
          "ms"
          "msimg";
        grid-gap: 1.2rem;
        grid-template-columns: 45rem;
      }
    }
    &-b {
      .example2 {
        display: grid;
        grid-template-areas:
          "ac"
          "acimg ";
        grid-gap: 1.2rem;
        grid-template-columns: 45rem;
      }
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem;
      font-size: 0.5rem;
    }
  }
  #header {
    &-home {
      height: 15rem;
      border-bottom: 3px solid $main-color;
      background-position: 20% 30%;

      .header-content {
        h1 {
          font-size: 1.5rem;
        }
        span {
          display: none;
        }
      }
    }
    &-inner {
      height: 5rem;
      .current {
        border: none;
      }
    }
  }

  //   Stack grid columns
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  .items {
    grid-template-columns: 1fr;
  }

  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $light-color;
        padding-bottom: 1rem;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    &-b {
      .stats div {
        padding: 2rem 0 1rem 0;
      }
    }
  }

  #about {
    &-a {
      .about-info {
        grid-template-columns: 20rem;
        grid-template-areas:
          "roots"
          "ben"
          "flow"
          "vid"
          "infographic";
      }
    }
    &-c {
      display: none;
    }
  }

  #testimony {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      p {
        font-size: 0.9rem;
      }
      ul {
        margin-top: none;
      }
      li {
        font-size: 0.7rem;
        padding: none;
        margin: none;
      }
      i {
        width: 30px;
        height: 30px;
        margin-right: none;
      }
    }
  }

  #success {
    &-a {
      .example1 {
        display: grid;
        grid-template-areas:
          "ms"
          "msimg";
        grid-gap: 1.2rem;
        grid-template-columns: 20rem;
      }
    }
    &-b {
      .example2 {
        display: grid;
        grid-template-areas:
          "ac"
          "acimg ";
        grid-gap: 1.2rem;
        grid-template-columns: 20rem;
      }
    }
  }

  //   Footer
  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

// Landscape Mode

@media (max-height: 580px) {
  #header-home {
    .header-contect {
      padding-top: 3rem;
    }
  }
}
@media (max-height: 330px) {
  #header-home {
    .header-contect {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
