@import "config";
@import "utilities";
@import "item-grid";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: white;
}

a {
  text-decoration: none;
  color: $dark-color;
}
a:hover {
  color: $main-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1 rem;
  color: #fff;
  height: 4rem;
  background: #333;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    // border color will transition/fade in, on hover
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center right/cover;
    height: 100vh;
    color: #333;
    position: relative;

    .header-content {
      text-align: center;
      padding-top: 20%;
    }

    h1 {
      font-size: 4rem;
      line-height: 1.2;
    }
  }
  // Header Inner
  &-inner {
    height: 4rem;
    border-bottom: 3px solid $main-color;
  }
}

#home {
  &-a {
    .specials {
      margin-top: 3rem 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      .fas,
      .fab {
        color: $main-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }

        &.stats-text {
          text-align: center;
          font-size: 1rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }
        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // circle number in corner
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        background: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: set-text-color($dark-color);
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background: $dark-color;
            color: set-text-color($dark-color);
          }
        }
      }
    }
  }
}

#about {
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "infographic roots"
        "infographic ben"
        "infographic flow"
        "infographic vid";
      grid-gap: 1.2rem;
      grid-template-columns: 30rem;
    }

    // Grid areas
    .roots-image {
      grid-area: infographic;
    }
    .roots {
      grid-area: roots;
      border-left: 3px solid $main-color;
      padding: 1rem;
      font-size: 1.1rem;
    }

    .benefit {
      grid-area: ben;
      padding: 2rem;
      p {
        font-size: 1.2rem;
      }

      ol {
        padding: 0 2rem;
        font-size: 1.2rem;
        li {
          padding: 0.5rem;
        }
      }
    }

    .flow {
      grid-area: flow;
      border-left: 3px solid $main-color;
      padding: 1rem;
      font-size: 1.1rem;
    }

    .video {
      grid-area: vid;
      padding: 2rem;
      width: 90%;
    }
  }
}

#testimony {
  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;

    ul {
      list-style: none;
      margin-top: 1rem;
      display: flex;
      align-items: center;
    }

    p {
      border: 1px solid $medium-color;
      height: 125px;
      border-radius: 5px;
      padding: 0.5rem;
    }

    i {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}

#success {
  &-a {
    .example1 {
      display: grid;
      grid-template-areas: "msimg  msimg ms";
      grid-gap: 1.2rem;
      grid-template-columns: 30rem;
    }

    .mathsnack-image {
      grid-area: msimg;
    }
    .mathsnack {
      grid-area: ms;
      padding: 1rem 2rem;
    }
  }
  &-b {
    .example2 {
      display: grid;
      grid-template-areas: "ac ac acimg ";
      grid-gap: 1.2rem;
      grid-template-columns: 30rem;
    }

    .algchamp-image {
      grid-area: acimg;
    }
    .algchamp {
      grid-area: ac;
      padding: 1rem 2rem;
    }
  }
}

.principles {
  h3 {
    text-transform: none;
    padding: 1rem 0;
    color: $main-color;
  }
  ol {
    padding: 0 1.5rem;
    li {
      font-size: 1.1rem;
    }
  }
}

// Resource
.link:hover {
  color: $medium-color;
  text-decoration: #333;
}

// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }
}

// Import Media Queries
@import "media";
